@import 'settings';
@import 'foundation-emails';

// @import 'template/template';

.container{
  // border: 2px dashed gray;
}

.header {
  background-color: #2c3e50;
  height: 50px;
}

.footer{
  background-color: #337ab7;
}

.header .logo{
  height: 12px;
  width: 12px;
  float: left;
  padding-top: 18px;
}

.header a{
  color: white;
  font-weight: bold;
  float: left;
  padding-top: 15px;
  padding-left: 3px;
}

.header .phone{
  float:left;
  padding-right: 2px;
  padding-top: 15px;
}

.header .phonenumber{
  color: white;
  padding-top: 15px;
  float: left;
  font-size: 13px;
}

.hello{
  background-color: #f3b871;
  margin-bottom: 20px;
}

.hello h4{
  color:white;
  text-align: center;
  padding-top: 22px;
}

.text p, .text ul{
  // padding: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  // padding-bottom: 5px;
  color: #333;
  font-size: 14px;
  text-align: justify;
}

.text ul{
  padding-left: 25px;
  padding-right: 25px;
  font-size: 14px;
}

.action p, .action h5{
  text-align: center;
}

.action p{
  font-size: 13px;
}

.footer p{
  color: white;
  padding: 20px;
  padding-bottom: 0;
  font-size: 13px;
}

.footer p a{
  color: white;
  text-decoration: underline;
}
